<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.AdminMapper">
 <insert id="insertAdmin" parameterType="dto.AdminDTO">
    INSERT INTO admin_info (
      admin_serialNum,
      admin_id,
      admin_pw,
      admin_name,
      admin_phone,
      admin_email
    ) VALUES (
      admin_seq.NEXTVAL,
      #{admin_id},
      #{admin_pw},
      #{admin_name},
      #{admin_phone},
      #{admin_email}
    )
  </insert>
  
   <select id="adminLogin" resultType="dto.AdminDTO" parameterType="map">
    SELECT *
    FROM admin_info
    WHERE admin_id = #{admin_id}
      AND admin_pw = #{admin_pw}
  </select>
</mapper>