<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.WitnessMapper">
	<resultMap type="dto.WitnessDTO" id="witness">
		<id column="witness_serialNum" property="witnessSerialNum" />
		<result column="member_serialNum" property="memberSerialNum" />
		<result column="admin_serialNum" property="adminSerialNum" />
		<result column="witness_gender" property="gender" />
		<result column="witness_age" property="age" />
		<result column="witness_etc" property="etc" />
		<result column="witness_place" property="place" />
		<result column="witness_date" property="date" />
		<result column="witness_img" property="image" />
		<result column="missing_serialNum" property="missingSerialNum" />
	</resultMap>
	<select id="selectWitnessById" parameterType="String"
		resultMap="witness"> SELECT * FROM witness_info WHERE witness_serialNum =
		#{witnessSerialNum, jdbcType=CHAR}
	</select>
	<insert id="insertWitness" parameterType="dto.WitnessDTO"> INSERT INTO
		witness_info ( witness_date, witness_place, witness_gender,
		witness_age, witness_etc, witness_img, member_serialNum,
		admin_serialNum, missing_serialNum ) VALUES ( #{date, jdbcType=DATE},
		#{place, jdbcType=VARCHAR}, #{gender, jdbcType=CHAR}, #{age,
		jdbcType=NUMERIC}, #{etc, jdbcType=VARCHAR}, #{image,
		jdbcType=VARCHAR}, #{memberSerialNum, jdbcType=CHAR},
		#{adminSerialNum, jdbcType=CHAR}, #{missingSerialNum, jdbcType=CHAR} )
	</insert>
	<select id="selectWitnessList" resultMap="witness"> SELECT * FROM
		witness_info
	</select>
</mapper>