<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.WitnessMapper">

    <resultMap type="dto.WitnessDTO" id="witness">
        <id column="witness_serialNum" property="witnessSerialNum" />
        <result column="member_serialNum" property="memberSerialNum" />
        <result column="witness_gender" property="gender" />
        <result column="witness_age" property="age" />
        <result column="witness_etc" property="etc" />
        <result column="witness_place" property="place" />
        <result column="witness_date" property="date" />
        <result column="witness_img" property="image" />
        <result column="missing_serialNum" property="missingSerialNum" />
    </resultMap>

    <select id="selectWitnessById" parameterType="String" resultMap="witness">
        SELECT * FROM witness_info WHERE witness_serialNum = #{witnessSerialNum, jdbcType=CHAR}
    </select>

    <insert id="insertWitness" parameterType="dto.WitnessDTO">
        INSERT INTO witness_info (
            witness_date, witness_place, witness_gender,
            witness_age, witness_etc, witness_img,
            member_serialNum
            <if test="missingSerialNum != null and missingSerialNum != ''">
                , missing_serialNum
            </if>
        )
        VALUES (
            #{date}, #{place}, #{gender},
            #{age}, #{etc}, #{image},
            #{memberSerialNum}
            <if test="missingSerialNum != null and missingSerialNum != ''">
                , #{missingSerialNum}
            </if>
        )
    </insert>

    <select id="selectWitnessList" resultMap="witness">
        SELECT * FROM witness_info
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM witness_info
    </select>

    <select id="getPagedWitnessList" parameterType="map" resultMap="witness">
        SELECT *
        FROM (
            SELECT A.*, ROWNUM AS RNUM
            FROM (
                SELECT *
                FROM witness_info
                ORDER BY witness_serialNum DESC
            ) A
            WHERE ROWNUM &lt;= #{end}
        )
        WHERE RNUM &gt; #{start}
    </select>

    <delete id="deleteWitness" parameterType="String">
        DELETE FROM witness_info WHERE witness_serialNum = #{id}
    </delete>

</mapper>
