<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MemberMapper">

    <resultMap id="memberResultMap" type="dto.MemberDTO">
        <result property="member_serialNum" column="MEMBER_SERIALNUM"/>
        <result property="member_id" column="MEMBER_ID"/>
        <result property="admin_serialNum" column="ADMIN_SERIALNUM"/>
        <result property="member_pw" column="MEMBER_PW"/>
        <result property="member_email" column="MEMBER_EMAIL"/>
        <result property="member_name" column="MEMBER_NAME"/>
        <result property="member_phone" column="MEMBER_PHONE"/>
    </resultMap>

    <select id="memberLogin" parameterType="map" resultMap="memberResultMap">
        SELECT *
        FROM MEMBER_INFO
        WHERE MEMBER_ID = #{member_id}
          AND MEMBER_PW = #{member_pw}
    </select>

    <select id="selectById" parameterType="String" resultMap="memberResultMap">
        SELECT *
        FROM MEMBER_INFO
        WHERE MEMBER_ID = #{memberId}
    </select>

    <insert id="insertMember" parameterType="dto.MemberDTO">
        INSERT INTO MEMBER_INFO
        (MEMBER_ID, ADMIN_SERIALNUM, MEMBER_PW, MEMBER_EMAIL, MEMBER_NAME, MEMBER_PHONE)
        VALUES
        (#{member_id}, #{admin_serialNum}, #{member_pw}, #{member_email}, #{member_name}, #{member_phone})
    </insert>

</mapper>
