# 빌드 폴더 제외
build/
target/

# Eclipse 관련 제외
.settings/
.metadata/
.project
.classpath
*.log
*.tmp
*.bak
*.swp

# IntelliJ, VS Code, 기타 IDE 제외
.idea/
.vscode/

# 오라클 DB 관련 설정 제외
listener.ora
tnsnames.ora
*.ora

# 운영체제별 불필요 파일 제외
.DS_Store
Thumbs.db

# Maven, Gradle 폴더 제외 (만약 사용시)
.mvn/
target/

# 기타 개인 설정 파일 제외
*.iml
