<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MissingMapper">

	<!-- 데이터베이스의 missing_serialNum과 DTO 필드이름을 서로 연결 -->	
    <resultMap type="dto.MissingPersonDTO" id="missing">
		<result column="missing_serialNum" property="missingSerialNum" />
		<result column="member_serialNum" property="memberSerialNum" />
		<result column="admin_serialNum" property="adminSerialNum" />
		<result column="missing_name" property="name" />
		<result column="missing_gender" property="gender" />
		<result column="missing_birth" property="birth" />
		<result column="missing_etc" property="etc" />
		<result column="missing_place" property="place" />
		<result column="missing_date" property="missingDate" />
		<result column="missing_img" property="image" />
	</resultMap>

	<!-- 새로운 실종자 정보 등록 -->
	<insert id="insertMissingPerson" parameterType="dto.MissingPersonDTO">
    INSERT INTO missing_info (
        admin_serialNum,
        member_serialNum,
        missing_name,
        missing_gender,
        missing_birth,
        missing_etc,
        missing_place,
        missing_date,
        missing_img
    ) VALUES (
        #{adminSerialNum},
        #{memberSerialNum},
        #{name},
        #{gender},
        TO_NUMBER(REPLACE(#{birth}, '-', '')),
        #{etc},
        #{place},
        TO_DATE(#{missingDate}, 'YYYY-MM-DD'),
        #{image}
    )
	<!-- selectKey태그 : 방금 만들어진 고유번호 조회해서 DTO객체에 다시 담아줌 -->
    <selectKey keyProperty="missingSerialNum" resultType="string" order="AFTER">
        SELECT 'MP' || TO_CHAR(SEQ_Missing_serialNum.CURRVAL) FROM DUAL
    </selectKey>
</insert>

	<!-- 목록 조회 -->
	<select id="selectMissingList" resultMap="missing">
		SELECT * FROM (
			SELECT ROWNUM AS rnum, m.* FROM (
				SELECT 
					missing_serialNum,
					member_serialNum,
					admin_serialNum,
					missing_name,
					missing_gender,
					TO_CHAR(TO_DATE(missing_birth, 'YYYYMMDD'), 'YYYY-MM-DD') as missing_birth,
					missing_etc,
					missing_place,
					TO_CHAR(missing_date, 'YYYY-MM-DD') as missing_date,
					missing_img
				FROM missing_info ORDER BY missing_serialNum DESC
			) m
		) WHERE rnum BETWEEN #{startRow} AND #{endRow}
	</select>
	<!-- 전체 실종자 정보 개수 조회, 페이징처리 계산할 때 사용 -->
	<select id="selectMissingCount" resultType="int">
		SELECT COUNT(*) FROM missing_info
	</select>
	
	<!-- 메인 화면 등 전체 실종자목록 최신순으로 조회 -->
    <select id="selectMissingListMain" resultMap="missing">
		SELECT * FROM missing_info
		ORDER BY missing_serialNum DESC
	</select>

	<!-- 회원번호를 이용해 member_info 테이블에서 해당 회원의 관리자 번호를 조회(찾아오기) -->
	<select id="selectAdminSerialNumByMember" parameterType="string"
		resultType="string">
		SELECT admin_serialNum FROM member_info WHERE member_serialNum =
		#{memberSerialNum}
	</select>

	<!-- 삭제 -->
	<delete id="deleteMissingPerson" parameterType="string">
		DELETE FROM missing_info WHERE missing_serialNum = #{missingSerialNum}
	</delete>
	
	<!-- 상세조회 -->
	<!-- selectMissingById는 날짜변환없이 원본데이터 조회 -->
	<select id="selectMissingById" parameterType="string" resultMap="missing">
        SELECT * FROM missing_info WHERE missing_serialNum = #{serialNum}
    </select>
    <!-- selectMissingPersonBySerialNum은 날짜변환해서 조회 -->
	<select id="selectMissingPersonBySerialNum" parameterType="string" resultMap="missing">
    	SELECT 
	        missing_serialNum,
	        member_serialNum,
	        admin_serialNum,
	        missing_name,
	        missing_gender,
	        TO_CHAR(TO_DATE(missing_birth, 'YYYYMMDD'), 'YYYY-MM-DD') as missing_birth,
	        missing_etc,
	        missing_place,
	        TO_CHAR(missing_date, 'YYYY-MM-DD') as missing_date,
	        missing_img
	    FROM missing_info 
	    WHERE missing_serialNum = #{serialNum}
	</select>
	
	<!-- 수정(if태그 사용해서 새로운 이미지가 업로드된 경우에만 이미지정보 수정) -->
	<update id="updateMissingPerson" parameterType="dto.MissingPersonDTO">
    UPDATE missing_info
       SET missing_name = #{name},
           missing_gender = #{gender},
           missing_birth = TO_NUMBER(REPLACE(#{birth}, '-', '')),
           missing_etc = #{etc},
           missing_place = #{place},
           missing_date = TO_DATE(#{missingDate}, 'YYYY-MM-DD')
           <if test="image != null">
           , missing_img = #{image}
           </if>
     WHERE missing_serialNum = #{missingSerialNum}
	</update>
</mapper>